.user-modal-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-height: 452px;
}

.user-modal-row {
  display: flex;
  flex-direction: column;
}

.user-modal-close-btn {
  color: #555;
  text-transform: none;
  font-weight: 500;
}

.user-modal-edit-btn {
  color: #1976d2;
  text-transform: none;
  font-weight: 500;
}
